<footer class="container">
   <hr class="featurette-divider">
   <p class="float-right"><a href="#">Subir</a></p>
   <div class="row">
      <div class="col-sm">
         <a href="https://www.instagram.com/gestionatusreclamos/" target="_blank" style="margin-right: 10px">
            <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
         </a>
         <a href="https://wa.me/5491133951185" target="_blank" style="margin-right: 10px">
            <fa-icon [icon]="['fab', 'whatsapp']" size="2x"></fa-icon>
         </a>
      </div>
   </div>
   <div class="row">
      <div class="col-sm">
         <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
         gestionatusreclamos@gmail.com
         <fa-icon [icon]="['fas', 'phone']"></fa-icon>
         +54 011 1533951185
      </div>
   </div>
   <div class="row">
      <div class="col-sm">
         <p>&copy; 2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </div>
   </div>
</footer>
